{% extends 'Up2greenCommonBundle::layout.html.twig' %}

{% block content %}
<header id="overview" class="center">
    <h1>Up2green</h1>
    <p class="lead">
      {{ "Plantez des arbres sur la planète au fil de vos recherches"|trans }}
    </p>
</header>
{% endblock %}
