{% extends 'Up2greenBlogBundle::layout.html.twig' %}

{% block content %}

{{ parent() }}

<h2>{{ program.title }}</h2>
<p>{{ program.summary |raw }}</p>
<p>{{ program.description |raw }}</p>

{% endblock %}
