# Bootstrap
app/bootstrap.php.cache

# Assetic
web/assetic/*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/css/
web/js/

# Propel 
src/Up2green/*Bundle/Model/om/*
src/Up2green/*Bundle/Model/map/*
app/propel/*.*
app/propel/sql/
bin/propel-gen*

# Configuration files
app/config/parameters.yml
/nbproject/
.buildpath
.project
.settings/
