# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/css/
web/js/

# Propel 
src/Up2green/Bundle/BlogBundle/Model/om/*
src/Up2green/Bundle/BlogBundle/Model/map/*
app/propel/

# Configuration files
app/config/parameters.ini
/nbproject/
