

{% for partner in pager.currentPageResults %}
    <div class="item">
        <h2>{{ partner.title }}</h2>
        <p>{{ partner.summary |raw }}</p>
        <span class="pull-right"><a href="{{ path('blog_partner_show', {'id': partner.id}) }}">{{ "read_more"|trans }}</a></span>
    </div>
{% endfor %}

{% if pager.hasPreviousPage %}
<a href="#" class="previous"><<</a>
{% endif %}

{% if pager.hasNextPage %}
<a href="#" class="next">>></a>
{% endif %}
