{% extends 'Up2greenBlogBundle::layout.html.twig' %}

{% block content %}

{{ parent() }}

<h2>{{ partner.title }}</h2>
<p>{{ partner.summary |raw }}</p>
<p>{{ partner.description |raw }}</p>

{% endblock %}
