{% extends 'Up2greenEducationBundle::layout.html.twig' %}

{% block content %}

{{ parent() }}

<ul class="classroom-pictures thumbnails">
    {% for picture in pictures %}
        <li class="span1">
            <img class="classroom-picture img-polaroid" src="{{ asset(picture.picture) | imagine_filter('thumb_75x75_outbound')  }}" />
        </li>
    {% endfor %}
</ul>

{% endblock %}
