{% extends "Up2greenAdminBundle::base_admin_assetic_less.html.twig" %}

{% block body %}
    {% block page_title %}
        <header>
            <h1>{{ 'home'|trans }}</h1>
        </header>
    {% endblock %}
{% endblock %}
