{% extends 'Up2greenBlogBundle::layout.html.twig' %}

{% block content %}

    {{ parent() }}

    <ul class="thumbnails">
        <li class="span4">
            <div class="thumbnail grey-box" id="ajax_article">
                {% render(controller('Up2greenBlogBundle:Article:listAjax', {
                    'limit': 1,
                    'routeName': app.request.get('_route'),
                    'routeParams': app.request.get('_route_params')
                })) %}
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail grey-box" id="ajax_program">
                {% render(controller('Up2greenBlogBundle:Program:listAjax', {
                    'limit': 1,
                    'routeName': app.request.get('_route'),
                    'routeParams': app.request.get('_route_params')
                })) %}
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail grey-box" id="ajax_partner">
                {% render(controller('Up2greenBlogBundle:Partner:listAjax', {
                    'limit': 1,
                    'routeName': app.request.get('_route'),
                    'routeParams': app.request.get('_route_params')
                })) %}
            </div>
        </li>
    </ul>

{% endblock %}
