{% for key, message in app.session.getFlashes() %}
    <div class="alert-message {{ key }} fade in" data-alert="alert">
        <a href="#" class="close">×</a>
        <p>{{ message|trans({}, 'FOSUserBundle') }}</p>
    </div>
{% endfor %}