<header id="overview" class="jumbotron subhead">
    <h1 class="logo">
      <a href="{{ path('education_homepage') }}">Up2green</a>
    </h1>

    <div id="main-menu" class="subnav">
        <ul class="nav nav-pills">
            <li><a href="{{ path('education_homepage') }}">{{ "home"|trans }}</a></li>
            <li><a href="#">{{ "classrooms"|trans }}</a></li>
        </ul>
    </div>
</header>

