{% for key, message in app.session.flashBag.all %}
    <div class="alert alert-{{ key }}">
        <button class="close" data-dismiss="alert" type="button">×</button>
        <p>{{ message|trans }}</p>
    </div>
{% endfor %}
