{% extends_admingenerated "Up2greenAdminBundle:WaitingListEdit:index.html.twig" %}

{% block form_address %}

    <div class="error">
        {{ form_errors(form['address']) }}
    </div>

    {% for key, item in form['address'] %}
        <div class="form_row">
            {{ form_row(form['address'][key]) }}
        </div>
    {% endfor %}

{% endblock %}
