{% extends 'Up2greenBlogBundle::layout.html.twig' %}

{% block content %}
<header id="overview" class="jumbotron subhead">
    <h1>Hello World</h1>
    <p class="lead">
      Lorem ipsum dolor siet amet.
    </p>
</header>
{% endblock %}
