@import "../../../../CommonBundle/Resources/public/less/main.less";

@padding_top: 50px;

#sub-header {

  h1.logo {

    background: url("/bundles/up2greeneducation/images/layout/header.png") no-repeat scroll center center transparent;
    height: 250px;

    a {
      background: url("/bundles/up2greeneducation/images/layout/logo.png") repeat scroll 0 0 transparent;
      color: transparent;
      display: block;
      margin: 0 auto;
      width: 230px;
      height: 292px;
      z-index:500;
      position: relative;
    }

  }

}

#sub-header {
    position: relative;
    z-index:1000;
}

div.content-top {
    background: url("/bundles/up2greeneducation/images/layout/background-top.png") no-repeat scroll center center transparent;
    position: relative;
    height: 371px;
    width: 100%;
    z-index:500;
}

#content {
    position: relative;
    z-index:700;
    margin-top: -265px;
    min-height: 525px;
}

div.content-wrapper {
    background: url("/bundles/up2greeneducation/images/layout/background-middle.png") repeat-y scroll center center transparent;
    position: relative;
    z-index:500;
    margin-top: -55px;
}

div.content-bottom {
    background: url("/bundles/up2greeneducation/images/layout/background-bottom.png") no-repeat scroll center center transparent;
    bottom: 0;
    height: 520px;
    position: relative;
    width: 100%;
    z-index:500;
    margin-top: -260px;
}

footer, footer a {
    margin: 0;
    padding: 470px 0 20px;
    color: #ddd;
}

div.row-fluid {
    div.span6 {
        .form-horizontal .control-label {
            width: 120px;
        }
        .form-horizontal .controls {
            margin-left: 140px;
        }
    }
}

table.donations {
    td {
        vertical-align: middle;

        .avatar img {
            max-width: 50px;
            max-height: 50px;
        }
    }
}

.classroom-player {
  margin-top: 60px;
}

.classroom-pictures {

  margin-left: -15px;

  li {
    margin-bottom: 5px;
    margin-left: 13px;
  }
}

.pagerfanta {
    clear: both;
}

.modal.big {
  width: 860px;
  margin: -350px 0 0 -450px;
}

.modal.big .modal-body{
  max-height: 600px;
}

.modal.big .modal-body img.classroom-picture{
  max-height: 500px;
  max-width: 500px;
}
