@import "../../../../CommonBundle/Resources/public/less/main.less";

header {

  h1.logo {

    background: url("/bundles/up2greencommon/images/background/header_650x115.png") no-repeat scroll center top transparent;
    height: 115px;

    a {
      background: url("/bundles/up2greencommon/images/logo/up2green_350x115.png") repeat scroll 0 0 transparent;
      color: transparent;
      display: block;
      margin: 0 auto;
      width: 350px;
      height: 115px;
    }

  }

}

div.row-fluid {
    div.span6 {
        .form-horizontal .control-label {
            width: 120px;
        }
        .form-horizontal .controls {
            margin-left: 140px;
        }
    }
}

table.donations {
    td {
        vertical-align: middle;

        .avatar img {
            max-width: 50px;
            max-height: 50px;
        }
    }
}

#overview {

  margin-bottom: 20px;

}

.classroom-player {
  margin-top: 60px;
}

.classroom-pictures {

  margin-left: -15px;

  li {
    margin-bottom: 5px;
    margin-left: 13px;
  }
}

.pagerfanta {
    clear: both;
}