@import "../../../../CommonBundle/Resources/public/less/main.less";

header {

  h1.logo {

    background: url("/bundles/up2greencommon/images/background/header_650x115.png") no-repeat scroll center top transparent;
    height: 115px;

    a {
      background: url("/bundles/up2greencommon/images/logo/up2green_350x115.png") repeat scroll 0 0 transparent;
      color: transparent;
      display: block;
      margin: 0 auto;
      width: 350px;
      height: 115px;
    }

  }

}

table.donations {
    td {
        vertical-align: middle;

        .avatar img {
            max-width: 50px;
            max-height: 50px;
        }
    }
}

#overview {

  margin-bottom: 20px;

}

.classroom-player {
  margin-top: 60px;
}

.classroom-pictures {
  img.classroom-picture {
    width: 100px;
    height: 100px;
    cursor: pointer;
  }
}