{% extends 'Up2greenBlogBundle::layout.html.twig' %}

{% block content %}

{{ parent() }}

<h2>{{ article.title }}</h2>
<p>{{ article.summary |raw }}</p>
<p>{{ article.description |raw }}</p>

{% endblock %}
