{% extends 'Up2greenBlogBundle::layout.html.twig' %}

{% block content %}

{{ parent() }}

<h2>{{ organization.title }}</h2>
<p>{{ organization.summary |raw }}</p>
<p>{{ organization.description |raw }}</p>

{% endblock %}
