@import "../../../../../../vendor/mopa/bootstrap-bundle/Mopa/Bundle/BootstrapBundle/Resources/public/less/mopabootstrapbundle.less";

@padding_top: 90px;

.centerize {
  text-align: center;
}

body {
  padding-top: @padding_top;
}

footer {
    border-top: 1px solid #E5E5E5;
    margin-top: 30px;
    padding: 20px 0;
    text-align: center;
    font-size: 12px;
}

[class^="icon-"] {
  background-image: url(/bundles/mopabootstrap/img/glyphicons-halflings.png);
}

.icon-white {
  background-image: url(/bundles/mopabootstrap/img/glyphicons-halflings-white.png);
}

.grey-box {
    background-color: #EEEEEE;
    margin-bottom: 30px;
    padding: 30px;
    .border-radius(6px);
}

.span4 {
    .dl-horizontal dt {
        width: 80px;
    }
    .dl-horizontal dd {
        margin-left: 95px;
    }
}

.clear {
    clear:both;
}